<div>
  <!-- <h1>{{msg}}</h1> -->
  <h2>Welcome To StouijiBoard!</h2>
      <form>
  <div class="form-group">

    <input type="text" class="form-control" id="rndmPrmptFld" placeholder="Prompt">
  </div>

  <button type="submit" class="btn btn-primary" id="randomGen">Generate Random Prompt</button>
</form>
<hr>

  <div class="card">
    <div class="card-header">
      Created By: Sample User, Last Modified: 06/12/2013, Created On: 01/01/1999,
    </div>


    <div class="card-body">
      <h4 class="card-title">The Quick Red Fox Jumped Over the Lazy Brown Dog Somewhere In Pheonix, Arizona.</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum lectus a nibh
        eleifend, eu pharetra
        lectus tempor. In auctor fringilla dolor eleifend lobortis. Morbi mollis dui mauris, at accumsan lorem
        ultricies vel. Sed sagittis ultricies ultrices. Mauris aliquam et arcu vel efficitur. Nunc eget ultrices
        purus,
        eget venenatis diam. Duis aliquet cursus vulputate. Ut elementum euismod lectus, eget euismod tortor feugiat
        eu. Sed ut porttitor dolor. Pellentesque pretium libero sit amet ligula semper, nec venenatis dui commodo.
        Proin commodo, nisl eget pulvinar gravida, magna nisl blandit nibh, quis dapibus dui ipsum in erat. Etiam
        fermentum quam ac ex venenatis, ac tincidunt tellus commodo. Duis facilisis nisl sit amet egestas pharetra.
        Donec vestibulum ante et massa varius, ut auctor diam scelerisque.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="card-header">
        Created by: xxxxx, created on: xxxxxx, Number of posts: xxxxx, last contributed: xxxxxxx
      </div>
      <div class="card-body">
        <h4 class="card-title">Now Is The Time For All Good Men To Come To The Aid Of Their Country</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum lectus a nibh
          eleifend, eu pharetra
          lectus tempor. In auctor fringilla dolor eleifend lobortis. Morbi mollis dui mauris, at accumsan lorem
          ultricies vel. Sed sagittis ultricies ultrices. Mauris aliquam et arcu vel efficitur. Nunc eget ultrices
          purus,
          eget venenatis diam. Duis aliquet cursus vulputate. Ut elementum euismod lectus, eget euismod tortor
          feugiat
          eu. Sed ut porttitor dolor. Pellentesque pretium libero sit amet ligula semper, nec venenatis dui commodo.
          Proin commodo, nisl eget pulvinar gravida, magna nisl blandit nibh, quis dapibus dui ipsum in erat. Etiam
          fermentum quam ac ex venenatis, ac tincidunt tellus commodo. Duis facilisis nisl sit amet egestas pharetra.
          Donec vestibulum ante et massa varius, ut auctor diam scelerisque.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div>
      <p>

        Ut iaculis sollicitudin tincidunt. Donec posuere orci id sollicitudin imperdiet. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Duis nunc felis, condimentum nec elit
        malesuada, rhoncus scelerisque felis. Integer imperdiet orci vitae metus tempus, ut pretium nunc gravida.
        Donec
        tempus vulputate massa, vel mollis purus tristique in. Phasellus varius feugiat nunc. Aenean non quam ac est
        condimentum efficitur. Phasellus dapibus eget urna sollicitudin tincidunt.

        Vivamus vestibulum metus egestas, feugiat purus quis, tristique magna. Donec iaculis interdum nulla, id
        consequat ex ornare at. Praesent finibus justo ut leo tincidunt, quis interdum turpis fermentum. Vestibulum
        pretium eros bibendum, bibendum nisi in, dictum mi. In a leo blandit eros ultrices convallis. Vivamus in
        purus
        ac ipsum eleifend dapibus. Curabitur condimentum magna in vehicula cursus. Aenean ac purus eget tortor ornare
        cursus. Mauris faucibus varius nibh.

        Integer non turpis pulvinar, faucibus mauris eu, imperdiet felis. Nunc consectetur orci eu orci maximus, nec
        luctus ipsum iaculis. Etiam dui mi, dignissim ac pretium vitae, vulputate in magna. Morbi ut lorem auctor,
        dictum est quis, malesuada dui. Vivamus ex urna, ullamcorper ut leo vitae, fermentum egestas lectus.
        Pellentesque arcu elit, fermentum ut porttitor sed, varius molestie urna. Sed lacinia auctor urna, vitae
        convallis lorem imperdiet vel.

        Nunc placerat congue augue. Sed enim diam, faucibus in tempor sit amet, pulvinar a lacus. In convallis at
        mauris vel molestie. Fusce accumsan malesuada euismod. Duis dignissim iaculis justo, a tempus diam sodales
        eget. Suspendisse interdum justo odio, sed egestas nulla vulputate et. Aenean quam ipsum, efficitur a
        convallis
        a, volutpat nec est.

        Etiam in risus tincidunt, gravida dui quis, ornare urna. Proin id massa ac leo sagittis euismod. Nunc nec
        felis
        ut mi vulputate tincidunt sed ac dolor. Praesent a velit orci. Proin eget lobortis lacus. Donec euismod augue
        eu viverra scelerisque. Fusce et nunc nec ante vehicula fringilla. Sed convallis, tortor nec placerat auctor,
        dolor nisi luctus elit, quis commodo leo diam vitae quam. Morbi molestie quam vel neque pulvinar luctus.

        Fusce ac mi auctor neque fermentum pellentesque. Pellentesque enim tellus, sagittis vitae volutpat ut,
        aliquam
        quis felis. Suspendisse eget mi sem. Nam quam magna, imperdiet ut iaculis vel, porta eget justo. Aenean
        aliquam
        semper lorem, sit amet tempus massa tempus eget. Phasellus iaculis euismod scelerisque. Donec vitae nisi
        dictum, facilisis urna eu, tempor ante. Pellentesque nec viverra sem, id accumsan ligula. Maecenas odio orci,
        euismod eget porta quis, congue et lacus. Pellentesque maximus feugiat magna, pellentesque interdum lorem
        fermentum et. Maecenas elementum feugiat velit non lobortis. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Cras eget nibh sit amet turpis tincidunt ultrices.

        Cras porttitor nisl eros, eu ultricies risus congue sed. Sed vel mi laoreet, gravida quam sit amet, dictum
        nibh. Donec lobortis augue quis orci fringilla, non laoreet sem convallis. Proin pharetra libero ligula, quis
        gravida nisi placerat in. Sed bibendum, purus et euismod sagittis, ante dolor rutrum dui, in elementum ante
        nibh non lacus. Suspendisse elit nunc, porta non finibus ac, venenatis quis nisl. Suspendisse nec ipsum non
        ligula interdum volutpat sed iaculis turpis. Curabitur varius posuere tellus eget lacinia. Vivamus gravida
        velit a turpis interdum interdum. Aliquam euismod libero sit amet leo semper, vitae sodales odio bibendum.

        Praesent convallis, lorem eu finibus gravida, urna elit blandit est, in tempus lorem nisl et lectus. Quisque
        pretium purus vitae libero congue, in dictum enim sodales. Fusce efficitur diam imperdiet purus finibus, non
        posuere mi lacinia. Proin bibendum ullamcorper risus a pharetra. Nulla at finibus elit, sagittis malesuada
        dolor. Morbi maximus lorem eu tellus laoreet, vel sagittis leo tincidunt. Curabitur placerat, lacus ac luctus
        fringilla, urna nibh porttitor felis, eget efficitur est mi in neque. Integer fermentum eros nibh, sit amet
        porttitor risus mattis vitae. Phasellus sed quam sed metus aliquam luctus eu ac sapien. Aliquam vehicula nec
        tortor sed rutrum. Curabitur eu aliquet mi. Pellentesque sit amet sem euismod, suscipit purus vitae,
        condimentum ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Nulla fringilla, libero sit amet blandit mollis, erat risus ultricies lectus, quis imperdiet sem nisi id
        ante.
        Nulla at ligula ut velit sagittis iaculis. Nulla eu nunc metus.

        Phasellus aliquam ut sapien ac consectetur. Vivamus commodo convallis massa, vitae tempus elit aliquet at.
        Cras
        pharetra eros at ullamcorper vestibulum. Proin leo lacus, molestie aliquam nulla eget, auctor vestibulum
        quam.
        Nulla placerat gravida maximus. Donec quis metus rutrum tortor consectetur finibus eget vel lectus.
        Pellentesque tristique interdum diam in dictum. Sed nec pulvinar risus. Cras urna turpis, sollicitudin a
        risus
        sit amet, dictum lacinia leo. Integer sagittis est rutrum nisl pulvinar, non hendrerit eros dignissim.
        Vestibulum quis arcu laoreet, ultricies mi tempor, sodales urna. Curabitur vehicula eros at vehicula aliquam.

        Curabitur interdum ornare lectus a rhoncus. Nunc varius semper semper. Donec egestas luctus cursus. Duis
        tortor
        nulla, ultricies ac blandit a, blandit ut quam. Maecenas neque lorem, ullamcorper ac accumsan vitae, accumsan
        consectetur justo. Fusce eu felis mauris. Ut pulvinar elementum elit in laoreet. Morbi ante tortor, fermentum
        vestibulum elementum ut, iaculis sed sapien. Nullam feugiat diam tortor, et pretium lorem lobortis ac. Aenean
        odio elit, semper eu augue sit amet, mollis dignissim libero. Aliquam tristique erat vitae tincidunt
        fringilla.
        Nullam felis dui, iaculis id maximus ut, faucibus sit amet enim.

        In facilisis elit non tellus tempor sodales. Maecenas molestie, purus ac tempor eleifend, nisi lacus
        consectetur sapien, id vestibulum quam lectus sed metus. Vivamus at varius leo, in rhoncus nibh. Donec ac
        volutpat eros. Proin gravida a sapien nec suscipit. Praesent iaculis metus nec ligula placerat, id facilisis
        dolor venenatis. Nulla porta at diam a molestie. Nunc efficitur eros placerat ex gravida, in convallis dolor
        eleifend. Mauris volutpat vestibulum libero, at tempor urna suscipit vitae. Nullam in tellus venenatis,
        tempor
        sapien a, tristique erat. In non nisl turpis.

        Maecenas feugiat felis ut orci hendrerit, in convallis quam feugiat. Donec dictum rhoncus purus, non bibendum
        sapien tempus vel. Ut at laoreet lacus. Aliquam mollis, odio eu tincidunt ornare, dolor turpis dignissim
        enim,
        eget eleifend risus urna vel magna. Maecenas a massa odio. Donec cursus nibh in tortor eleifend, nec
        consequat
        sem gravida. Duis mi nisi, pharetra eget rhoncus et, dignissim convallis velit. Aliquam imperdiet diam sed
        tempor bibendum. Proin egestas lorem vel lorem ultricies commodo. Nam justo nulla, ornare nec ornare nec,
        ullamcorper in nulla. Integer congue ex neque. Donec blandit tincidunt dapibus. Sed mauris dui, aliquet sed
        nunc eget, accumsan lobortis ante. Curabitur sodales ex in purus lobortis, et interdum ipsum vulputate.

        Integer augue tellus, semper quis luctus at, molestie at lectus. Ut pretium sodales odio id porttitor.
        Pellentesque pellentesque dignissim mauris sed mattis. Fusce aliquam, sapien ut dignissim ullamcorper, enim
        lorem vestibulum quam, eu sodales enim est sed felis. Donec in massa aliquet, laoreet lectus eget, dapibus
        sem.
        Suspendisse lobortis at lacus nec laoreet. Proin iaculis diam et urna laoreet scelerisque. Maecenas eu nisi
        quis lacus consectetur facilisis a vel velit. Mauris ante elit, tempus eget sodales vitae, tempus eget nibh.

        Praesent eleifend nibh ac arcu semper fermentum. Sed fermentum quam augue, nec venenatis nunc volutpat et.
        Mauris a elit facilisis, sollicitudin eros vel, ullamcorper velit. In consequat pretium orci quis finibus.
        Curabitur ac nisl vel mi suscipit tempus ac nec tortor. Suspendisse molestie nunc at magna commodo, sed
        semper
        neque convallis. Maecenas dui ex, hendrerit quis ullamcorper non, tristique eget urna.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum lectus a nibh eleifend, eu pharetra
        lectus tempor. In auctor fringilla dolor eleifend lobortis. Morbi mollis dui mauris, at accumsan lorem
        ultricies vel. Sed sagittis ultricies ultrices. Mauris aliquam et arcu vel efficitur. Nunc eget ultrices
        purus,
        eget venenatis diam. Duis aliquet cursus vulputate. Ut elementum euismod lectus, eget euismod tortor feugiat
        eu. Sed ut porttitor dolor. Pellentesque pretium libero sit amet ligula semper, nec venenatis dui commodo.
        Proin commodo, nisl eget pulvinar gravida, magna nisl blandit nibh, quis dapibus dui ipsum in erat. Etiam
        fermentum quam ac ex venenatis, ac tincidunt tellus commodo. Duis facilisis nisl sit amet egestas pharetra.
        Donec vestibulum ante et massa varius, ut auctor diam scelerisque.

        Ut iaculis sollicitudin tincidunt. Donec posuere orci id sollicitudin imperdiet. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Duis nunc felis, condimentum nec elit
        malesuada, rhoncus scelerisque felis. Integer imperdiet orci vitae metus tempus, ut pretium nunc gravida.
        Donec
        tempus vulputate massa, vel mollis purus tristique in. Phasellus varius feugiat nunc. Aenean non quam ac est
        condimentum efficitur. Phasellus dapibus eget urna sollicitudin tincidunt.

        Vivamus vestibulum metus egestas, feugiat purus quis, tristique magna. Donec iaculis interdum nulla, id
        consequat ex ornare at. Praesent finibus justo ut leo tincidunt, quis interdum turpis fermentum. Vestibulum
        pretium eros bibendum, bibendum nisi in, dictum mi. In a leo blandit eros ultrices convallis. Vivamus in
        purus
        ac ipsum eleifend dapibus. Curabitur condimentum magna in vehicula cursus. Aenean ac purus eget tortor ornare
        cursus. Mauris faucibus varius nibh.

        Integer non turpis pulvinar, faucibus mauris eu, imperdiet felis. Nunc consectetur orci eu orci maximus, nec
        luctus ipsum iaculis. Etiam dui mi, dignissim ac pretium vitae, vulputate in magna. Morbi ut lorem auctor,
        dictum est quis, malesuada dui. Vivamus ex urna, ullamcorper ut leo vitae, fermentum egestas lectus.
        Pellentesque arcu elit, fermentum ut porttitor sed, varius molestie urna. Sed lacinia auctor urna, vitae
        convallis lorem imperdiet vel.

        Nunc placerat congue augue. Sed enim diam, faucibus in tempor sit amet, pulvinar a lacus. In convallis at
        mauris vel molestie. Fusce accumsan malesuada euismod. Duis dignissim iaculis justo, a tempus diam sodales
        eget. Suspendisse interdum justo odio, sed egestas nulla vulputate et. Aenean quam ipsum, efficitur a
        convallis
        a, volutpat nec est.

        Etiam in risus tincidunt, gravida dui quis, ornare urna. Proin id massa ac leo sagittis euismod. Nunc nec
        felis
        ut mi vulputate tincidunt sed ac dolor. Praesent a velit orci. Proin eget lobortis lacus. Donec euismod augue
        eu viverra scelerisque. Fusce et nunc nec ante vehicula fringilla. Sed convallis, tortor nec placerat auctor,
        dolor nisi luctus elit, quis commodo leo diam vitae quam. Morbi molestie quam vel neque pulvinar luctus.

        Fusce ac mi auctor neque fermentum pellentesque. Pellentesque enim tellus, sagittis vitae volutpat ut,
        aliquam
        quis felis. Suspendisse eget mi sem. Nam quam magna, imperdiet ut iaculis vel, porta eget justo. Aenean
        aliquam
        semper lorem, sit amet tempus massa tempus eget. Phasellus iaculis euismod scelerisque. Donec vitae nisi
        dictum, facilisis urna eu, tempor ante. Pellentesque nec viverra sem, id accumsan ligula. Maecenas odio orci,
        euismod eget porta quis, congue et lacus. Pellentesque maximus feugiat magna, pellentesque interdum lorem
        fermentum et. Maecenas elementum feugiat velit non lobortis. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Cras eget nibh sit amet turpis tincidunt ultrices.

        Cras porttitor nisl eros, eu ultricies risus congue sed. Sed vel mi laoreet, gravida quam sit amet, dictum
        nibh. Donec lobortis augue quis orci fringilla, non laoreet sem convallis. Proin pharetra libero ligula, quis
        gravida nisi placerat in. Sed bibendum, purus et euismod sagittis, ante dolor rutrum dui, in elementum ante
        nibh non lacus. Suspendisse elit nunc, porta non finibus ac, venenatis quis nisl. Suspendisse nec ipsum non
        ligula interdum volutpat sed iaculis turpis. Curabitur varius posuere tellus eget lacinia. Vivamus gravida
        velit a turpis interdum interdum. Aliquam euismod libero sit amet leo semper, vitae sodales odio bibendum.

        Praesent convallis, lorem eu finibus gravida, urna elit blandit est, in tempus lorem nisl et lectus. Quisque
        pretium purus vitae libero congue, in dictum enim sodales. Fusce efficitur diam imperdiet purus finibus, non
        posuere mi lacinia. Proin bibendum ullamcorper risus a pharetra. Nulla at finibus elit, sagittis malesuada
        dolor. Morbi maximus lorem eu tellus laoreet, vel sagittis leo tincidunt. Curabitur placerat, lacus ac luctus
        fringilla, urna nibh porttitor felis, eget efficitur est mi in neque. Integer fermentum eros nibh, sit amet
        porttitor risus mattis vitae. Phasellus sed quam sed metus aliquam luctus eu ac sapien. Aliquam vehicula nec
        tortor sed rutrum. Curabitur eu aliquet mi. Pellentesque sit amet sem euismod, suscipit purus vitae,
        condimentum ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Nulla fringilla, libero sit amet blandit mollis, erat risus ultricies lectus, quis imperdiet sem nisi id
        ante.
        Nulla at ligula ut velit sagittis iaculis. Nulla eu nunc metus.

        Phasellus aliquam ut sapien ac consectetur. Vivamus commodo convallis massa, vitae tempus elit aliquet at.
        Cras
        pharetra eros at ullamcorper vestibulum. Proin leo lacus, molestie aliquam nulla eget, auctor vestibulum
        quam.
        Nulla placerat gravida maximus. Donec quis metus rutrum tortor consectetur finibus eget vel lectus.
        Pellentesque tristique interdum diam in dictum. Sed nec pulvinar risus. Cras urna turpis, sollicitudin a
        risus
        sit amet, dictum lacinia leo. Integer sagittis est rutrum nisl pulvinar, non hendrerit eros dignissim.
        Vestibulum quis arcu laoreet, ultricies mi tempor, sodales urna. Curabitur vehicula eros at vehicula aliquam.

        Curabitur interdum ornare lectus a rhoncus. Nunc varius semper semper. Donec egestas luctus cursus. Duis
        tortor
        nulla, ultricies ac blandit a, blandit ut quam. Maecenas neque lorem, ullamcorper ac accumsan vitae, accumsan
        consectetur justo. Fusce eu felis mauris. Ut pulvinar elementum elit in laoreet. Morbi ante tortor, fermentum
        vestibulum elementum ut, iaculis sed sapien. Nullam feugiat diam tortor, et pretium lorem lobortis ac. Aenean
        odio elit, semper eu augue sit amet, mollis dignissim libero. Aliquam tristique erat vitae tincidunt
        fringilla.
        Nullam felis dui, iaculis id maximus ut, faucibus sit amet enim.

        In facilisis elit non tellus tempor sodales. Maecenas molestie, purus ac tempor eleifend, nisi lacus
        consectetur sapien, id vestibulum quam lectus sed metus. Vivamus at varius leo, in rhoncus nibh. Donec ac
        volutpat eros. Proin gravida a sapien nec suscipit. Praesent iaculis metus nec ligula placerat, id facilisis
        dolor venenatis. Nulla porta at diam a molestie. Nunc efficitur eros placerat ex gravida, in convallis dolor
        eleifend. Mauris volutpat vestibulum libero, at tempor urna suscipit vitae. Nullam in tellus venenatis,
        tempor
        sapien a, tristique erat. In non nisl turpis.

        Maecenas feugiat felis ut orci hendrerit, in convallis quam feugiat. Donec dictum rhoncus purus, non bibendum
        sapien tempus vel. Ut at laoreet lacus. Aliquam mollis, odio eu tincidunt ornare, dolor turpis dignissim
        enim,
        eget eleifend risus urna vel magna. Maecenas a massa odio. Donec cursus nibh in tortor eleifend, nec
        consequat
        sem gravida. Duis mi nisi, pharetra eget rhoncus et, dignissim convallis velit. Aliquam imperdiet diam sed
        tempor bibendum. Proin egestas lorem vel lorem ultricies commodo. Nam justo nulla, ornare nec ornare nec,
        ullamcorper in nulla. Integer congue ex neque. Donec blandit tincidunt dapibus. Sed mauris dui, aliquet sed
        nunc eget, accumsan lobortis ante. Curabitur sodales ex in purus lobortis, et interdum ipsum vulputate.

        Integer augue tellus, semper quis luctus at, molestie at lectus. Ut pretium sodales odio id porttitor.
        Pellentesque pellentesque dignissim mauris sed mattis. Fusce aliquam, sapien ut dignissim ullamcorper, enim
        lorem vestibulum quam, eu sodales enim est sed felis. Donec in massa aliquet, laoreet lectus eget, dapibus
        sem.
        Suspendisse lobortis at lacus nec laoreet. Proin iaculis diam et urna laoreet scelerisque. Maecenas eu nisi
        quis lacus consectetur facilisis a vel velit. Mauris ante elit, tempus eget sodales vitae, tempus eget nibh.

        Praesent eleifend nibh ac arcu semper fermentum. Sed fermentum quam augue, nec venenatis nunc volutpat et.
        Mauris a elit facilisis, sollicitudin eros vel, ullamcorper velit. In consequat pretium orci quis finibus.
        Curabitur ac nisl vel mi suscipit tempus ac nec tortor. Suspendisse molestie nunc at magna commodo, sed
        semper
        neque convallis. Maecenas dui ex, hendrerit quis ullamcorper non, tristique eget urna.
      </p>
    </div>
  </div>


</div>
<div>
       <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>


{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}} --}}